html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: #0c4a6e;
  display: grid;
  justify-content: center;
}
.container {
  width: 100vw;
  margin: auto;
}
svg {
  fill: white;
  width: calc(min(100% - 50px, 1000px));
  margin: 5px auto;
  display: block;
}
