<section class="limited-large content">
  <h1>{{DejavuTitle}}</h1>
  <p>{{DejavuDesc}}</p>
  <div class="dejavu-videos">
    {% import "macros/youtube.njk" as youtube %}
    {{ youtube.render(id="VcPoF1K2hEI", title="Mi guía de estilos para el diseño orientado a objetos - Luis Ruiz", ariaLabel="Click to play the recording of Mi guía de estilos para el diseño orientado a objetos - Luis Ruiz") }}
    {{ youtube.render(id="py7RB_xtD3o", title="HTML. El estándar que lo va a petar - Juanjo Montiel y Ramón Corominas", ariaLabel="Click to play the recording of HTML. El estándar que lo va a petar - Juanjo Montiel y Ramón Corominas") }}
    {{ youtube.render(id="ZgLZmX54CbI", title="Shaping a Smarter Market, Empowering Decisions through Big Data and One Global Platform - A.Hurtado", ariaLabel="Click to play the recording of Shaping a Smarter Market, Empowering Decisions through Big Data and One Global Platform - A.Hurtado") }}
    <a class="dejavu-link" href="https://2019.commit-conf.com" aria-label="{{ViewMoreDejavu}}">» {{MoreDejavu}}</a>
  </div>
</section>