<section class="limited-large content">
  <h1 class="lead">{{Where}}</h1>
  <p>
    <a href="https://goo.gl/maps/X5eoF" target="_blank" title="{{ClickToOpenInGoogleMaps}}">
      <picture>
        <source srcset="/img/location/map-small.webp" media="(max-width: 560px)" type="image/webp">
        <source srcset="/img/location/map-medium.webp" type="image/webp">
        <source srcset="/img/location/map-small.jpg" media="(max-width: 560px)" type="image/jpeg">
        <source srcset="/img/location/map-medium.jpg" type="image/jpeg">
        <img src="/img/location/map-medium.jpg" class="wide" alt="{{MapAlt}}">
      </picture> 
    </a>
  </p>
  {% macro renderSection(title, contents) %}
    <section class="padding-top-6">
      <h2 class="font-size-l">{{title}}</h2>
      {% if contents | typeof == "array" %}
        {% for content in contents %}
          {{content | safe}}
        {% endfor %}
      {% else %}
        {{contents | safe}}
      {% endif %}
    </section>
  {% endmacro %}
  {{ renderSection(AddressTitle, AddressDesc) }}
  {% set TransportDetails %}
    <ul>
      <li>
        <p>
          <img src="/svg/train.svg" class="metro" alt="Metro logo">
          <a href="https://www.metromadrid.es/es/linea/ml3" target="_blank" rel="noopener noreferrer">
            <span>Metro L3 (Montepríncipe)</span>
          </a>
        </p>
      </li>
      <li>
        <p>
          <img src="/svg/bus.svg" class="bus" alt="Bus logo">
          <a href="http://www.madridbuses.com/autobuses-interurbanos/horarios-571-madrid-pozuelo-de-alarcon-boadilla-del-monte.html" target="_blank" rel="noopener noreferrer">
            <span>Bus 571</span>
          </a>
          <span>·</span>
          <a href="http://www.madridbuses.com/autobuses-interurbanos/horarios-573-madrid-pozuelo-de-alarcon-boadilla-del-monte.html" target="_blank" rel="noopener noreferrer">
            <span>Bus 573</span>
          </a>
        </p>
      </li>
    </ul>  
  {% endset %}
  {{ renderSection(HowToGetThere, [HowToGetThereDesc, TransportDetails]) }}
  {{ renderSection(FreeShuttles, FreeShuttlesDesc) }}
  {{ renderSection(Cloakroom, CloakroomDesc) }}
  {{ renderSection(Credentials, CredentialsDesc) }}
  {{ renderSection(AccessControl, AccessControlDesc) }}
  {{ renderSection(LateRegistration, LateRegistrationDesc) }}
  {{ renderSection(NeedLaptop, NeedLaptopDesc) }}
  {{ renderSection(WorkshopRequirements, WorkshopRequirementsDesc) }}
  {{ renderSection(TalksRequireRegistration, TalksRequireRegistrationDesc) }}
  
</section>