{% set stats = [
  {
    name: talks,
    value: 140
  },
  {
    name: attendees,
    value: "1,500" if locale == 'en' else "1.500"
  },
  {
    name: communities,
    value: 49
  }
]%}
<div class="stats">
  {% for stat in stats %}
    <div class="stat">
      <div class="stat-value">{{ stat.value }}</div>
      <div class="stat-label light">{{ stat.name }}</div>
    </div>
  {% endfor %}
</div>