<section>
  <div class="limited-large content">
    <h1>{{TheTeam}}</h1>
    <h2>{{WhoOrganizesCommit}}</h2>
    <p>{{WhoOrganizesCommitDescription}}</p>
    <div class="team items-center">
      <img src="/img/team/lvignali.jpeg" class="avatar">
      <div>
        <p><b>Laura Vignali:</b> {{LauraDesc}}</p>
        <a href="https://twitter.com/@laura_vignali">@laura_vignali</a> 
      </div>
      <img src="/img/team/aotero.jpeg" class="avatar">
      <div>
        <p><b>Abraham Otero:</b> {{AbrahamDesc}}</p>
      </div>
      <img src="/img/team/jlee.jpeg" class="avatar">
      <div>
        <p><b>Janine Lee:</b> {{JanineDesc}}</p>
      </div>
      <img src="/img/team/icoloma.jpeg" class="avatar">
      <div>
        <p><b>Ignacio Coloma:</b> {{NachoDesc}}</p>
        <a href="https://twitter.com/@nachocoloma">@nachocoloma</a>
      </div>
      <img src="/img/team/ccoloma.jpeg" class="avatar">
      <div>
        <p><b>Carlos Coloma:</b> {{CarlosDesc}}</p>
        <a href="https://twitter.com/@ccescribano">@ccescribano</a>
      </div>
    </div>
  </div>
</section>